/BigFish/*.iml
/BigFish/.gradle
/BigFish/local.properties
/BigFish/app/app.iml
/BigFish/.idea/misc.xml
/BigFish/.idea/workspace.xml
/BigFish/.idea/*.xml
/BigFish/.idea/*.*
/doorbellService/DoorbellService/.idea/*
/BigFish/.DS_Store
/BigFish/build
/BigFish/captures
/BigFish/app/build
/.DS_Store
/.idea/*
**/.DS_Store


